<?xml version='1.0'?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rrmagnobot">

  <xacro:include filename="$(find rrmagnobot_simulation)/description/rrmagnobot_body.urdf.xacro"/>
  <xacro:include filename="$(find rrmagnobot_simulation)/description/controller.urdf.xacro"/>
  <xacro:include filename="$(find rrmagnobot_simulation)/description/camera.urdf.xacro"/>

</robot>
